<h1><%= @user.name %>'s page</h1>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar %>
<% elsif @user == current_user %>
  <%= link_to 'Add a profile pic', edit_user_registration_path(current_user) %>
<% end %>

<% if current_user == @user %>
  <%= render 'shared/new_post' %>
<% end %>

<% if friends.include?(@user) %>
  <% if @user.posts %>
    <% @all_posts.each do |p| %>
      <h3><%= p.body %></h3>
      <%= render 'shared/likes', { post: p } %><br />
      <%= render 'shared/comments', { comments: find_comments(p) } %>
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_post_path(p.id) %>
        <%= link_to 'Delete', post_path(p.id), method: 'delete' %>
      <% end %><br /><br />
    <% end %>
  <% end %>
<% end %>

<% if @user != current_user %>
  <%= render 'shared/request_options', { user: @user } %>
<% end %>

<% if @user == current_user %>
  <h3>Friend requests:</h3>
  <% if friend_request_list.empty? %>
    <p>Looks like no one wants to be your friend.</p>
  <% else %>
    <% friend_request_list.each do |r| %>
      <%= render 'request', { request: r } %>
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/links' %>
<%= link_to 'Edit Profile', edit_user_registration_path(current_user)%>