<h1><%= @user.name %>'s page</h1>

<% if current_user == @user %>
  <%= render 'shared/new_post' %>
<% end %>

<% if @user.posts %>
  <% @all_posts.each do |p| %>
    <%= p.body %><br />
    <%= render 'shared/likes', { post: p } %><br />
    <% if current_user == @user %>
      <%= link_to 'Edit', edit_post_path(p.id) %>
      <%= link_to 'Delete', post_path(p.id), method: 'delete' %>
    <% end %><br /><br />
  <% end %>
<% end %>

<% if @user != current_user %>
  <% if friends?(@user) %>
    <%= button_to 'Forget this fool', friendship_path(friend_id: @user.id), method: 'delete' %>
  <% elsif find_request(@user) %>
    <% if requester?(@user) %>
      <p>Friend request sent. Not looking too good, huh bud?</p>
    <% else %>
      <p>Respond to their friend request if you want:</p>
      <%= render 'request', { request: find_request(@user) } %>
    <% end %>
  <% else %>
    <%= button_to 'Send Friend Request', friend_requests_path(user_id: @user.id) %>
  <% end %>
<% end %>

<% if @user == current_user %>
  <h3>Friend requests:</h3>
  <% if friend_request_list.empty? %>
    <p>Looks like no one wants to be your friend.</p>
  <% else %>
    <% friend_request_list.each do |r| %>
      <%= render 'request', { request: r } %>
    <% end %>
  <% end %>
<% end %>

<%= render 'shared/links' %>