<div class="d-flex align-items-baseline">
  <h1 class="pt-4"><%= @user.name %></h1>
  <% if current_user == @user %>
  <% end %>
</div>

  <div class="prof-pic-box">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "prof-pic" %>
      <%= link_to 'Edit', edit_user_registration_path(current_user), class: "edit-profile" %>
    <% elsif @user == current_user %>
      <%= image_tag @user.gravatar_url(default: 'robohash', size: 120), class: "prof-pic"%>
      <%= link_to 'Edit', edit_user_registration_path(current_user), class: "edit-profile" %>
    <% else %>
      <%= image_tag @user.gravatar_url(default: 'robohash', size: 120), class: "prof-pic"%>
    <% end %>
  </div>

<% if current_user == @user %>
  <%= render 'shared/new_post' %>
<% end %>

<% if friends.include?(@user) || current_user == @user %>
  <% if @user.posts %>
    <% @all_posts.each do |p| %>
      <h3><%= p.body %></h3>
      <%= render 'shared/likes', { post: p } %><br />
      <%= render 'shared/comments', { comments: find_comments(p) } %>
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_post_path(p.id) %>
        <%= link_to 'Delete', post_path(p.id), method: 'delete' %>
      <% end %><br /><br />
    <% end %>
  <% end %>
<% end %>

<% if @user != current_user %>
  <%= render 'shared/request_options', { user: @user } %>
<% end %>

<% if @user == current_user %>
  <div>
    <h3 class="d-none d-md-block">Friend requests:</h3>
    <% if friend_request_list.empty? %>
      <p>Looks like no one wants to be your friend.</p>
    <% else %>
      <% friend_request_list.each do |r| %>
        <%= render 'request', { request: r } %>
      <% end %>
    <% end %>
    <%= link_to 'Search for friends (good luck)', users_path %>
  </div>
<% end %>

