<% posts.each do |p| %>
  <div class="post-box my-2 py-2 px-3">
    <div class="d-flex">
      <%= render 'users/user_thumb', { user: p.user, date: p.created_at.to_date } %>
      <% if current_user == @user %>
        <div class="align-self-end mb-1">
          <%= link_to (fa_icon "pencil"), edit_post_path(p.id), class: "mx-1" %>
          <%= link_to (fa_icon "trash"), post_path(p.id), method: :delete %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <div class="text-break">
        <%= p.body %>
      </div>
    </div>
    <div class="mb-4">
      <%= render 'shared/likes', { post: p } %><br />
    </div>
    <% if p.comments.any?%>
      <%= render 'comments/comments', { comments: find_comments(p) } %>
    <% end %>
    <%= render 'comments/new_comment', { post: p } %><br />
  </div>
<% end %>

