<% posts.each do |p| %>
  <div class="bg-light my-4 py-2 px-3">
    <% if friends.include?(p.user) || p.user == current_user %>
      <div class="d-flex">
        <%= link_to p.user.name, user_path(p.user.id) %><br />
        <em class="ml-3"><%= p.created_at.to_date %></em>
      </div>
      <div class="d-flex justify-content-between">
        <div class="text-break">
          <%= p.body %>
        </div>
        <% if current_user == @user %>
        <div class= "d-flex align-self-end">
          <%= link_to (fa_icon "pencil"), edit_post_path(p.id), class: "mx-2"%>
          <%= link_to (fa_icon "trash-o"), post_path(p.id), method: :delete %>
        </div>
        <% end %>
      </div>
      <div class="mb-5">
        <%= render 'shared/likes', { post: p } %><br />
      </div>
      <% if p.comments.any?%>
        <%= render 'comments/comments', { comments: find_comments(p) } %>
      <% end %>
      <%= render 'comments/new_comment', { post: p } %><br />
    <% end %>
  </div>
<% end %>

