<!DOCTYPE html>
<html>
  <head>
    <title>ApatheticFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="jumbotron jumbotron-fluid container-fluid px-5 fixed-top">
      <nav class="navbar">
        <h1 class="col-md-6 d-inline"><span class="d-none d-md-inline">Apathetic Facebook</span><span class="d-md-none">AF</span> :|</h1>
        <% if user_signed_in? %>
          <div class="ml-md-auto d-flex">
            <%= link_to 'Home', posts_path, class: "nav-link" %></li>
            <%= link_to 'Profile', user_path(current_user), class: "nav-link mx-4" %></li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "nav-link" %></li>
          </div>
        <% end %>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <% flash.each do |type, msg| %>
      <div class="error-message text-center">
        <%= msg %>
      </div>
      <% end %>
      
    <script>
      // Look for .hamburger
      var hamburger = document.querySelector(".hamburger");
      // On click
      hamburger.addEventListener("click", function() {
        // Toggle class "is-active"
        hamburger.classList.toggle("is-active");
        // Do something else, like open/close menu
      });
    </script>
  </body>
</html>
