<!DOCTYPE html>
<html>
  <head>
    <title>ApatheticFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="jumbotron jumbotron-fluid fixed-top">
      <nav class="container-fluid px-5 navbar navbar-expand-lg">
        <h1 class="col-7"><span class="d-none d-md-inline">Apathetic Facebook</span> :/</h1>
        <% if user_signed_in? %>
          <button class="hamburger hamburger--minus navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-btns">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="collapsible-btns">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item"><%= link_to 'Home', posts_path, class: "nav-link" %></li>
              <li class="nav-item mx-4"><%= link_to 'Profile', user_path(current_user), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "nav-link" %></li>
            </ul>
          </div>
        <% end %>
      </nav>
    </header>

    <% flash.each do |type, msg| %>
      <div class="error-message text-center">
        <%= msg %>
      </div>
      <% end %>
      <%= yield %>
    <script>
      // Look for .hamburger
      var hamburger = document.querySelector(".hamburger");
      // On click
      hamburger.addEventListener("click", function() {
        // Toggle class "is-active"
        hamburger.classList.toggle("is-active");
        // Do something else, like open/close menu
      });
    </script>
  </body>
</html>
